* {
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none; 
  user-select: none;
}

/* BackGround images here for header and body start here */
.backgroundimgHere{background-image: url('/img/bkgimg.jpg');}
.backgroundimgHere_{background-image: url('/img/bkgimg_.jpg');}
.onlinegamesimg{background-image: url('/img/onlinegames.jpg');}
.onlinegamesimg_{background-image: url('/img/onlinegames_.jpg');}
.offlinegamesimg{background-image: url('/img/offlinegames.jpg');}
.offlinegamesimg_{background-image: url('/img/offlinegames_.jpg');}
.langamesimg{background-image: url('/img/langames.jpg');}
.langamesimg_{background-image: url('/img/langames_.jpg');}
.mobilegamesimg{background-image: url('/img/mobilegames.jpg');}
.mobilegamesimg_{background-image: url('/img/mobilegames_.jpg');}
.gameconsolesimg{background-image: url('/img/consolegames.jpg');}
.gameconsolesimg_{background-image: url('/img/consolegames_.jpg');}
.gametoolsimg{background-image: url('/img/gametools.jpg');}
.gametoolsimg_{background-image: url('/img/gametools_.jpg');}
/* BackGround images here for header and body ends here */

.snd2bkImg{
  z-index:-1;
}

.imgbg{
  width: 100%;
  position:fixed;
}

.NavTitle{
  position: fixed;
  text-align: center;
  z-index: 3;
  width: 100%;
  color: rgb(210, 217, 229);
  padding-top: 52px;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.9)
}

header{
  display: flex;
  background-color: rgb(0, 4, 44);
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 3px #000000da;
  font-size: 29px;
  position: fixed;
  top: 0;
  position: fixed;  
  z-index: 2;
}

nav{
  display: flex;
  font-size: 1rem;
  margin-left: -12px;
  margin-right: -12px;
  width: 103%;
  align-items: flex-start;
}
.navbar {
  background-color: transparent;
  z-index: 4;
  backdrop-filter: blur(7px);
  padding-right: 10px;
  margin-bottom: -50px;
  margin-top: 60px;
  justify-content: right; 
  width: 107%;
}
@media (max-width: 767px) {
  nav{
    margin-left: -12px;
    margin-right: -12px;
    flex-direction: row-reverse;
    text-align:center;
  }
  .NavTitle{
    left: -6px;
  }
}

.naviconcolor{
  color: rgb(212, 219, 241);
  font-size: 34px ;
  flex-direction: row-reverse;
}

.navbar-toggler {
  background-color: #13142b;
  background-color: transparent;
  z-index: 3;
  backdrop-filter: blur(3px);
}

.homebtn {
  appearance: button;
  border: none;
  background: rgba(0,0,0,0.01); 
  justify-content: space-around;
  padding: 14px;
  transition-duration: 0.7s;
  width: 70px;
}

.button {
  appearance: button;
  border: none;
  background: rgba(0,0,0,0.01); 
  justify-content: space-around;
  padding: 10px;
  /* text-align: center; */
  text-decoration: none;
  margin: 5px 2px;
  transition-duration: 0.7s;
  color:white;
  width: 170px;
}

.button1 {
  background: rgba(0,0,0,0.01); 
  border-radius: 1px;
}

.button1:hover {
  background-color: #00b3ff33;
  color: white;
  border-radius: 25px;
  opacity: 1; 
}

.button2{
  text-decoration:none;
  text-align: center;
}

.AccountProfile{
  z-index: 10;
  position: fixed;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: -45px;
  margin-right: 15px;
  background: rgba(0,0,0,0.01); 
  color: white;
  transition-duration: 0.7s;
  left: calc(100% - 60px);
  
}
.AccountProfile:hover {
  background-color: #00b3ff33;
  padding: 15px;
  color: white;
  border-radius: 25px;
}
img {
  border-radius: 17px;
  margin: 20px;
  width: 80%;
  height: auto;
  box-shadow: 7px 7px 7px #000000da;
}

img:hover {
  box-shadow: 0px 0px 12px 12px rgba(155, 230, 255, 0.253);
  width: 90%;
  height: auto;
}
.imgpos{
  text-align: center;
  padding-top: 160px;
}
.blurIt{
  backdrop-filter: blur(7px);
}

.xtransp {
  background-color: transparent;
  z-index: 5;
  backdrop-filter: blur(7px);
}

.xtransp2 {
  background-color: transparent;
  background: rgba(75, 79, 100, 0.05); 
  color: rgb(255, 255, 255);
  backdrop-filter: blur(7px);
  opacity: 1; 
}

.iconlogo{
  font-size: 37px;
}
footer {
  z-index: 12;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.25); 
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 17px;
  opacity: 1; 
  backdrop-filter: blur(7px);
}
.akumaimg {
  background-image: url('/img/akuma.png');
  background-repeat: no-repeat;
  background-size:contain ;
  top: -290px;
  z-index: -1;
  /* padding-bottom: 250px; */
  position: relative;
  height: 320px;
  margin-bottom: -450px;
  left: calc(100% - 320px);
}
.introduction {
  background-color: rgba(0, 0, 0, .75);
  color: white;
  width: 100%;
  padding: 150px 25px 75px 25px;
  /* max-height: 215px; */
  text-indent: 35px;
  /* text-align: center; */
  /* text-justify: auto; */

}
.TopGames {
  background-color: rgba(75, 25, 25, .75);
  color: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  width: 100%;
}
.carouselbox{
  color: white;
  margin: 50px auto;
  max-width: 648px;
  justify-content: center;
  position: relative;
  height: auto;
}
.titlehilight{
  background-color: rgba(41, 87, 172, 0.25);
  color: white;
  padding: 20px;
  margin: -16px;
}
.darkfilter{
  background: rgb(0,0,0,.5);
  color: rgb(182, 182, 182);
  padding: 25px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #000000da;
}
.container-1{
  z-index: -1;
  margin-top: 170px;
  height: 95vh;
  width: 100%;
  /* z-index: 10000; */
  /* margin: 0 auto; */
  /* margin: 0 10px 0 0; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* flex-wrap: wrap-reverse; */
   /* align-content: flex-end; */
}

.carousel-size{
  margin: -10px;
  min-width: 324px;
  min-height: 189px;
  max-width: 2000px;
  max-height: 370px;
  height: auto;
  height: 100%;
  width: 120%;
  padding-right: 75px;
  /* padding-right: 100px; */
}
.corousel-style{
  /* z-index: 1; */
  /* position: relative; */
  border-radius: 25px;
  padding: 8px 12px 8px 8px;
  margin-bottom: 50px;
}
/* Carousel images starts here */
.carouselimgML1 {
  background-image: url('/img/carousel/ml1.JPG');
}
.carouselimgML2 {
  background-image: url('/img/carousel/ml2.jpg');
} 
.carouselimgVAL1 {
  background-image: url('/img/carousel/val1.jpg');
} 
.carouselimgVAL2 {
  background-image: url('/img/carousel/val2.jpg');
} 
.carouselimgGTAV1 {
  background-image: url('/img/carousel/gta51.jpg');
} 
.carouselimgGTAV2 {
  background-image: url('/img/carousel/gta52.jpg');
} 
.carouselimgGTAV3 {
  background-image: url('/img/carousel/gta53.jpg');
} 
/* Carousel images starts here */

